* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.left-side-bar,
.right-side-bar {
    margin: 50px;
}

.main-profile,
.education,
.connection-request,
.your-connections {
    border: #d3d3d3 3px solid;
}

.main-profile {
    width: 600px;
    margin-bottom: 30px;
}


.profile-header {
    background-color: #17a2b8;
    height: 100px;
}

/* cannot center the avatar by using this way. Not sure why.
.profile-header img {
    height:100px;
    position: relative;
    top: 50px;
    padding-left: 20px;
    background-color: white;
    border: white 2px solid;
    border-radius: 50%;
} */

/* set the picture as background, centered*/
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("./images/jane-m.jpg");
    background-position: center center;
    background-size: cover;

    position: relative;
    top: 50px;
    margin-left: 20px;
    border:white 4px solid;
}


.profile-body {
    padding-top: 50px;
    padding-left: 20px;
}

.location {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}

.control {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.location img,
.control img {
    height: 20px;
    margin-right: 10px;
}

.control a {
    color: #2B78E4;
}




.education-header,
.request-header,
.connection-header {
    background-color: #333333;
    padding: 10px;
}

.education-body{
    padding: 20px;
    height:500px;
}

.date{
    color:grey;
    margin:10px 0px;
}



.right-side-bar {
    width: 250px;
}

.connection-request {
    margin-bottom: 30px;
}

.request-header,
.connection-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: white;
}

header p {
    background-color: lightgrey;
    border-radius: 50%;
    width: 40px;
    text-align: center;
}

.request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.request-profle {
    display: flex;
    align-items: center;
}

.request-profle p {
    padding-left: 5px;
}

.request-decision {
    padding: 4px;
}

#accept,
#close {
    height: 20px;
}

#other-avatar {
    height: 50px;
    border: white 2px solid;
    border-radius: 50%;
    background-color: white;
}


.connection {
    display: flex;
    align-items: center;
    padding: 5px;
}

.connection p {
    margin-left: 5px;
}

footer {
    width:inherit;
    border-top: #d3d3d3 3px solid;
    padding:5px;
}